$bgcolor: blue;
$usersBlockColor: #f2f2f2;
$icoColor: #777;
$preloader: #337ab7;
$error: #f93232;

$defaultColor: #f2f2f2;
$meetingBlockColor: #f5f5f5;
$meetingBorderColor: #ddd;
$borderColor: $meetingBorderColor;
$borderFocus: #66afe9;
//text
$text-color-default: #555;
$text-color-active: #337ab7;
$text-color-success: #00b956;
$text-color-error: #eb1b1b;
$link-color: #337ab7;
//images
$member-list-photo-width: 30px;
$member-list-photo-height: 30px;
$user-list-photo-width: 60px;
$user-list-photo-height: 60px;
$base-line-height: 22px/15px;
